* {
    margin: 0;
    padding: 0;
    font-family: tahoma;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    height: 100vh;
}

.appbody {
    border: 3px dotted #d1d6d6;
    width: 700px;
    height: 500px;
    background-color: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.appbody.active {
    border: 3px solid rgb(49, 168, 12);
}

.icon {
    font-size: 100px;
    color: rgba(13, 204, 45, 0.651);
}

.appbody h3 {
    font-size: 30px;
    font-weight: 500;
    color: #333;
}

.appbody span {
    font-size: 25px;
    font-weight: 500;
    color: #333;
    margin: 10px 0 15px 0;
}

.appbody button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: rgba(13, 204, 45, 0.651);
    border-radius: 5px;
    cursor: pointer;

}